<%= form_for @wiki do |f| %>
  <div class="form-group">
    <%= f.text_field :title, class: 'form-control', placeholder: "Enter wiki title" %>
    <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter wiki body" %>
    <%= f.submit "Save", class: 'btn btn-success' %>
  </div>
  <% if current_user.admin? || current_user.premium? %>
    <div class="form-group">
      <%= f.label :private, class: 'checkbox' do %>
        <%= f.check_box :private %> Private wiki
      <% end %>
    </div>
  <% end %>
<% end %>